:root {
  --bright-accent: hotpink;
}

.CodeMirror {
  font-size:1.2em;
  line-height:1.4;
}

.side-dock-actions {
  display: flex;
  flex-direction: column;
}

.side-dock-ribbon-action:nth-child(4) {
  color: var(--text-accent);
  order: -1;
}

.graph-view.color-fill {
  color: var(--text-accent);
}

.graph-view.color-fill-unresolved {
  color: var(--text-accent);
  opacity: 0.3;
}

.theme-dark .graph-view.color-fill-tag {
  color: var(--bright-accent);
}
